workflow.json
{
  "meta": {
    "instanceId": "n8n-local"
  },
  "name": "POC AI Agent Groq + Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "f7b3c4d1-2e6a-4b9c-8f1d-3e5a7b9c1d2e",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "webhookId": "groq-poc-chat"
    },
    {
      "parameters": {
        "baseURL": "https://api.groq.com/openai/v1",
        "model": "llama3-70b-8192",
        "options": {
          "temperature": 0.1,
          "maxTokens": 1000
        }
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Groq LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "sessionIdType": "fixed",
        "sessionId": "groq-session"
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        600,
        500
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "maxIterations": 5,
          "systemMessage": "Je bent een AI assistent die prijsberekeningen kan maken op basis van data uit een Google Sheet. Je hebt toegang tot tools om data op te halen. Antwoord in het Nederlands."
        }
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "name": "sheets_tool",
        "description": "Haalt data op uit Google Sheet voor prijsberekeningen",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "operation",
              "stringValue": "read_sheet"
            }
          ]
        }
      },
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Google Sheets Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {},
      "id": "e5f6g7h8-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        300,
        800
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "sheetUrl",
              "stringValue": "JOUW_GOOGLE_SHEET_URL_HIER"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-0j1k-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "Set Sheet URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.sheetUrl }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.sheetUrl }}"
        },
        "options": {}
      },
      "id": "g7h8i9j0-1k2l-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        700,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetData = $input.all().map(item => item.json);\n\nconst result = {\n  totalRows: sheetData.length,\n  columns: Object.keys(sheetData[0] || {}),\n  data: sheetData\n};\n\nreturn {\n  response: JSON.stringify(result, null, 2)\n};"
      },
      "id": "h8i9j0k1-2l3m-4n5o-6p7q-r8s9t0u1v2w3",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        800
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Sheet URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sheet URL": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-10T10:00:00.000Z",
  "updatedAt": "2025-06-10T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
