workflow.json
{
  "name": "POC: AI Agent met Groq en Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "chat-trigger-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [500, 300],
      "webhookId": "groq-poc-chat",
      "typeVersion": 1
    },
    {
      "parameters": {
        "baseURL": "https://api.groq.com/openai/v1",
        "model": "llama3-70b-8192",
        "options": {
          "temperature": 0.1,
          "maxTokens": 1000
        }
      },
      "id": "groq-model-001",
      "name": "Groq LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [400, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "fixed",
        "sessionId": "groq-session"
      },
      "id": "memory-001",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [600, 500],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "maxIterations": 5,
          "systemMessage": "Je bent een AI assistent die prijsberekeningen kan maken op basis van data uit een Google Sheet. Je hebt toegang tot tools om data op te halen en berekeningen te maken. Antwoord altijd in het Nederlands."
        }
      },
      "id": "ai-agent-001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [700, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "google_sheets_reader",
        "description": "Haalt alle data op uit de Google Sheet. Gebruik dit om prijsinformatie en productdata te bekijken.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "operation",
              "stringValue": "read_all_data"
            }
          ]
        }
      },
      "id": "sheets-tool-001",
      "name": "Google Sheets Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [500, 500],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [300, 800],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "sheetUrl",
              "stringValue": "JOUW_GOOGLE_SHEET_URL_HIER"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sheet-url",
      "name": "Set Google Sheet URL",
      "type": "n8n-nodes-base.set",
      "position": [500, 800],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "url", 
          "value": "={{ $json.sheetUrl }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.sheetUrl }}"
        },
        "options": {}
      },
      "id": "google-sheets-read",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [700, 800],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Formateer de sheet data voor de AI\nconst sheetData = $input.all().map(item => item.json);\n\n// Maak een samenvatting van de beschikbare data\nconst summary = {\n  totalRows: sheetData.length,\n  columns: Object.keys(sheetData[0] || {}),\n  sampleData: sheetData.slice(0, 3), // Eerste 3 rijen als voorbeeld\n  fullData: sheetData\n};\n\nreturn {\n  response: JSON.stringify(summary, null, 2)\n};"
      },
      "id": "format-data",
      "name": "Format Sheet Data",
      "type": "n8n-nodes-base.code",
      "position": [900, 800],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Google Sheet URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Google Sheet URL": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Format Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-10T00:00:00.000Z",
  "versionId": "poc-v1"
}
